body {
    background-color: #0e0e0e;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

nav ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 2%;
}

#logo h1 {
    margin: 0;
}

#secciones a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    transition: color 0.3s;
}

#secciones a:hover {
    color: rgb(30, 63, 128);
}

.registro-container {
    width: 40%;
    margin: 100px auto;
    padding: 40px;
    background-color: rgba(30, 63, 128, 0.2);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.registro-container h1 {
    margin-bottom: 30px;
    font-size: 32px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.input-group input:focus,
.input-group select:focus {
    outline: none;
    border: 2px solid rgb(30, 63, 128);
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    text-align: left;
}

.checkbox-group input {
    margin-right: 10px;
}

.checkbox-group a {
    color: rgb(30, 63, 128);
    text-decoration: none;
}

.checkbox-group a:hover {
    text-decoration: underline;
}

.registro-button {
    width: 100%;
    padding: 15px;
    background-color: rgb(30, 63, 128);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.registro-button:hover {
    background-color: rgb(40, 83, 168);
}

.login-link {
    margin-top: 15px;
    font-size: 16px;
}

.login-link a {
    color: rgb(30, 63, 128);
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

footer {
    background-color: black;
    color: white;
    padding: 3%;
    margin-top: 20px;
    text-align: center;
    bottom: 0;
}
