body {
    background-color: #0e0e0e;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

glow-box {
    width: 300px;
    height: 150px;
    background-color: black; /* Fondo oscuro para resaltar el glow */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3), 
                0 0 40px rgba(255, 255, 255, 0.2), 
                0 0 80px rgba(255, 255, 255, 0.1); /* Sombras difusas */
    filter: blur(2px); /* Suaviza el glow */
    border-radius: 20px; /* Bordes redondeados para mejor apariencia */
}

nav *{
    background-color: black;
    color: white;
}

nav {
    padding: 3%;
    width: 95%;
    text-align: center;
    background-color: black;
    position: fixed;
    z-index: 100;
    margin-bottom: 100px;
}

nav ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

nav #logo {
    display: flex;
    align-items: center;
}

nav #logo img {
    height: 75px;
    width: 75px;
    margin-right: 10px;
}

nav #logo h1 {
    margin: 0;
}

nav #secciones,
nav #sesion {
    display: flex;
    align-items: center;
}

nav a {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

nav a:hover {
    color: rgb(30, 63, 128);
}

nav .button:hover {
    background-color: rgb(40, 83, 168);
    color: white;
}

.content {
    padding: 2%;
    overflow: hidden;
}

.button {
    display: inline-block;
    padding: 12px 35px;
    border-radius: 20px;
    background-color: rgb(30, 63, 128);
    color: white;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: rgb(40, 83, 168);
}

.slider {
    margin: auto;
    width: 100%;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 10s infinite alternate ease-in-out;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
    height: 100%;
}

@keyframes cambio {
    0%, 20% { margin-left: 0; }
    25%, 45% { margin-left: -100%; }
    50%, 70% { margin-left: -200%; }
    75%, 100% { margin-left: -300%; }
}

#noticias {
    width: 100%;
}

#noticias ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

#noticias li {
    position: relative;
    width: 30%;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

#noticias li:hover {
    transform: scale(1.05);
    background-color: rgba(0, 38, 255, 0.1);
}
#noticias img {
    width: 100%;
    height: auto;
    display: block;
}
#noticias li:hover img {
    opacity: 0.8;
}
#noticias .titulo-noticia {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    width: calc(100% - 20px);
    text-align: center;
}

#equipo{
    width: 100%;
}
#equipo ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

#equipo li {
    position: relative;
    width: 30%;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

#equipo li:hover {
    transform: scale(1.05);
    background-color: rgb(63, 63, 63);
}

#equipo img {
    width: 100%;
    height: 90%;
    display: block;
}
#equipo .nombre {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    width: calc(100% - 20px);
    text-align: center;
}

#historia {
    width: 100%;
    display: flexbox;               
    flex-direction: column;      
    justify-content: center;     
    align-items: center;         
    margin-top: 20px;
}

#historia h1 {
    margin-left: 30px;    
}

#historia img {
    width: 1000px;       
    height: 500px;
    display: block;
    margin: 20px auto;      
}

#historia .button {
    padding: 12px 35px;
    border-radius: 20px;
    background-color: rgb(30, 63, 128);
    color: white;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 20px 0;
    margin-left: 45%;    
}

#historia .button:hover {
    background-color: rgb(40, 83, 168);
}


.titulos-decorados {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: underline;
    text-decoration-color: rgb(30, 63, 128);
    text-underline-offset: 5px; 
    margin-bottom: 30px;
}

#contacto {
    margin-top: 50px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario-contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    width: 80%;
    margin: auto;
    align-items: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}
form input::placeholder, form textarea::placeholder {
    color: #999;
}
.formulario label {
    font-size: 18px;
}

.formulario input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.formulario input:focus {
    outline: 2px solid rgb(30, 63, 128);
}

.formulario button {
    margin-top: 10px;
    align-self: center;
    width: 50%;
}

.imagen-contacto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

footer {
    background-color: black;
    color: white;
    padding: 3%;
    margin-top: 20px;
    text-align: center;
}

.footer-contenido {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-seccion {
    text-align: left;
}

.footer-seccion a{
    text-decoration: none;
    color: white;
}

.footer-seccion h3 {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
}

footer .footer-seccion a:hover{
    text-decoration: underline;
    color: white;
    text-decoration-color: white;
}

.footer-seccion ul {
    list-style-type: none;
    padding: 0;
}

.footer-seccion li {
    margin-bottom: 8px;
    font-size: 16px;
}

footer p {
    margin-top: 20px;
    font-size: 14px;
    background-color: black;
}

